
/* Tela 1 */

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.container > h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.config_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: 150px;
    height: 25px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
}

span{
    margin: 5px;
    color: black;
    text-transform: capitalize;
    text-align: center;
}

input{
    width: 50px;
    height: 25px;
    background-color: white;
    text-align: center;
}

/* tela 2 */

.palpites_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palpites_container >button{
    margin-top: 20px;
}

.palpites{
    display: flex;
    flex-direction: row;
}

.palpites_player{
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.palpites_player > h3{
    color: blueviolet;
}

.lista_palpite{
    width: 150px;
    margin-left: 50px;
    text-align: left;
}

/* Tela 3 Resultado */

.result_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultado{
    display: flex;
    flex-direction: row;
}

.player_title{
    display: flex;
    width: 150px;
    height: 180px;
    justify-content: center;
    align-items: center;

}

.vencedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vencedor > h2{
    color: blueviolet;
}

.vencedor > img{
    width: 100px;
}